#followingBallsG{
position: absolute;
    top: 50%;
    left: 50%;	
    margin-top: -35px;
    margin-left: -450px;
width:896px;
height:70px;
}

.followingBallsG{
background-color:#1B0D6B;
position:absolute;
top:0;
left:0;
width:70px;
height:70px;
-webkit-border-radius:35px;
-moz-border-radius:35px;
-o-border-radius:35px;
-ms-border-radius:35px;
border-radius:35px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
-moz-animation-delay:0s;
-o-animation-delay:0s;
-ms-animation-delay:0s;
}

#followingBallsG_2{
-webkit-animation-delay:0.13s;
-moz-animation-delay:0.13s;
-o-animation-delay:0.13s;
-ms-animation-delay:0.13s;
}

#followingBallsG_3{
-webkit-animation-delay:0.26s;
-moz-animation-delay:0.26s;
-o-animation-delay:0.26s;
-ms-animation-delay:0.26s;
}

#followingBallsG_4{
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1B0D6B;
}

50%{
left:826px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#1B0D6B;
}

}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1B0D6B;
}

50%{
left:826px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#1B0D6B;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1B0D6B;
}

50%{
left:826px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#1B0D6B;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1B0D6B;
}

50%{
left:826px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#1B0D6B;
}

}
